openapi: 3.0.3
info:
  title: Bella ERP Partner API
  version: 1.0.0
  description: |
    RESTful API for integrating with Bella ERP system.
    
    ## Authentication
    All requests require an API key in the `X-API-Key` header.
    
    ## Environments
    - Production: `https://api.bellaspa.com/v1/`
    - Sandbox: Use `pk_test_` API keys for testing
    
    ## Rate Limits
    - Free: 60 requests/minute, 1,000 requests/day
    - Basic: 300 requests/minute, 10,000 requests/day
    - Pro: 600 requests/minute, 50,000 requests/day
    - Enterprise: 1,200 requests/minute, 200,000 requests/day
    
  contact:
    name: Bella ERP API Support
    email: api-support@bellaspa.com
    url: https://docs.bellaspa.com
  license:
    name: Proprietary
    url: https://bellaspa.com/terms

servers:
  - url: https://api.bellaspa.com/v1
    description: Production server
  - url: https://api-staging.bellaspa.com/v1
    description: Staging server

security:
  - ApiKeyAuth: []

tags:
  - name: Orders
    description: Order management operations
  - name: Payments
    description: Payment processing operations
  - name: Customers
    description: Customer management operations
  - name: Products
    description: Product catalog operations
  - name: Webhooks
    description: Webhook subscription management

paths:
  /orders:
    get:
      tags:
        - Orders
      summary: List orders
      description: Retrieve a paginated list of orders with optional filtering and sorting

      operationId: listOrders
      security:
        - ApiKeyAuth: []
      parameters:
        - $ref: '#/components/parameters/Limit'
        - $ref: '#/components/parameters/Offset'
        - $ref: '#/components/parameters/Sort'
        - name: status
          in: query
          schema:
            type: string
            enum: [pending, confirmed, completed, cancelled]
          description: Filter by order status
        - name: customer_id
          in: query
          schema:
            type: string
            format: uuid
          description: Filter by customer ID
        - name: created_after
          in: query
          schema:
            type: string
            format: date-time
          description: Filter orders created after this date
        - name: created_before
          in: query
          schema:
            type: string
            format: date-time
          description: Filter orders created before this date
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderListResponse'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'
        '500':
          $ref: '#/components/responses/InternalError'
    post:
      tags:
        - Orders
      summary: Create order
      description: Create a new order
      operationId: createOrder
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateOrderRequest'
      responses:
        '201':
          description: Order created successfully
          headers:
            Location:
              schema:
                type: string
              description: URL of the created order
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'
        '403':
          $ref: '#/components/responses/Forbidden'
        '422':
          $ref: '#/components/responses/ValidationError'
        '429':
          $ref: '#/components/responses/RateLimitExceeded'

  /orders/{id}:
    get:
      tags:
        - Orders
      summary: Get order by ID
      operationId: getOrder
      parameters:
        - $ref: '#/components/parameters/OrderId'
      responses:
        '200':
          description: Order details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderResponse'
        '404':
          $ref: '#/components/responses/NotFound'

components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-API-Key
      description: API key for authentication (format: pk_live_... or pk_test_...)

  parameters:
    OrderId:
      name: id
      in: path
      required: true
      schema:
        type: string
        format: uuid
      description: Order ID
    
    Limit:
      name: limit
      in: query
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 20
      description: Number of items to return
    
    Offset:
      name: offset
      in: query
      schema:
        type: integer
        minimum: 0
        default: 0
      description: Number of items to skip
    
    Sort:
      name: sort
      in: query
      schema:
        type: string
      description: Sort field and direction (e.g., "-created_at,total")

  schemas:
    Order:
      type: object
      properties:
        id:
          type: string
          format: uuid
        order_number:
          type: string
        customer_id:
          type: string
          format: uuid
        status:
          type: string
          enum: [pending, confirmed, completed, cancelled]
        total:
          type: number
          format: double
        created_at:
          type: string
          format: date-time
    
    CreateOrderRequest:
      type: object
      required:
        - customer_id
        - items
      properties:
        customer_id:
          type: string
          format: uuid
        items:
          type: array
          minItems: 1
          items:
            type: object
            required:
              - product_id
              - quantity
            properties:
              product_id:
                type: string
                format: uuid
              quantity:
                type: integer
                minimum: 1
    
    OrderResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          $ref: '#/components/schemas/Order'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    
    OrderListResponse:
      type: object
      properties:
        success:
          type: boolean
        data:
          type: array
          items:
            $ref: '#/components/schemas/Order'
        pagination:
          $ref: '#/components/schemas/Pagination'
        meta:
          $ref: '#/components/schemas/ResponseMeta'
    
    Pagination:
      type: object
      properties:
        total:
          type: integer
        limit:
          type: integer
        offset:
          type: integer
        has_more:
          type: boolean
    
    ResponseMeta:
      type: object
      properties:
        timestamp:
          type: string
          format: date-time
        request_id:
          type: string
        rate_limit:
          type: object
          properties:
            limit:
              type: integer
            remaining:
              type: integer
            reset_at:
              type: string
              format: date-time
    
    ErrorResponse:
      type: object
      properties:
        success:
          type: boolean
          enum: [false]
        error:
          type: object
          properties:
            code:
              type: string
            message:
              type: string
            details:
              type: object
        meta:
          $ref: '#/components/schemas/ResponseMeta'

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    Unauthorized:
      description: Unauthorized - Invalid API key
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    Forbidden:
      description: Forbidden - Insufficient permissions
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    NotFound:
      description: Resource not found
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    ValidationError:
      description: Validation error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    RateLimitExceeded:
      description: Rate limit exceeded
      headers:
        X-RateLimit-Limit:
          schema:
            type: integer
        X-RateLimit-Remaining:
          schema:
            type: integer
        X-RateLimit-Reset:
          schema:
            type: integer
        Retry-After:
          schema:
            type: integer
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    
    InternalError:
      description: Internal server error
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
